# Python cache
__pycache__/
*.pyc

# Wrench/Experiment generated data
experiments/results/*
charts/*
configs/platforms/*
workflows/*
*.log

# Project-specific generated data
data/*
models/saved_models/*
results/*

# IDE / OS files
.DS_Store
.vscode/